   
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.product_id{
  object-fit: contain;
  width: 100%;
  height: 200px;
}
.card1 {
  background-color: #ff6347;  /* Tomato color */
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
}
.card2 {
  background: linear-gradient(135deg, #ff6347, #f0a500); /* Tomato to orange gradient */
  color: white;
  border-radius: 15px;
  padding: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  overflow: hidden;
}
@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
.button{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: red;
}











